<ion-card class="article__size">
  <ion-card-subtitle class="ion-margin">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-margin">
        {{articule.source}}
      </ion-col>
      <ion-col align="right">
        <ion-button
          (click)="onClick()"
          fill="clear"
        >
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          >
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr color="#121212">
  </ion-card-subtitle>
  <ion-card-title
    class="ion-margin"
    color="primary"
    (click)="openArticle()"
  >
    {{articule.title}}
  </ion-card-title>




  <ion-img
    *ngIf="articule.image_url"
    [src]="articule.image_url"
    (click)="openArticle()"
    class="img__size"
  >
  </ion-img>
  <ion-card-content>
    <p>{{articule.description}}</p>
  </ion-card-content>
</ion-card>
