<ion-header
  [translucent]="true"
  mode="ios"
  class="ion-no-border"
>
  <ion-toolbar>
    <ion-title>
      NewsApp Carlos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment
    value="{{categorySelected}}"
    (ionChange)="segmentChanged($event)"
    scrollable
    type="md"
  >
    <ion-segment-button
    *ngFor="let category of categories"
    value="{{category.key}}"
    >
      <ion-label
        class="ion-text-capitalize"
      >
        {{category.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
